<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation=" http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">


	<bean id="hotel" class="org.hotel.bean.HotelBean">

		<constructor-arg name="name" value="5 star"></constructor-arg>
		<constructor-arg name="location" value="Bangalore"></constructor-arg>
		<constructor-arg name="rating" value="4.5"></constructor-arg>
		<property name="isVeg" value="true"></property>
		<property name="noOfBranches" value="5"></property>
	</bean>

</beans>